[project]
	description = this is changed password according to the time
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Erdem Demirkapı (erdemdemirkapi)
[access "refs/for/refs/*"]
	read = group user/Erdem Demirkapı (erdemdemirkapi)
	push = group user/Erdem Demirkapı (erdemdemirkapi)
	label-Code-Review = -2..+2 group user/Erdem Demirkapı (erdemdemirkapi)
	label-Verified = -1..+1 group user/Erdem Demirkapı (erdemdemirkapi)
	rebase = group user/Erdem Demirkapı (erdemdemirkapi)
	removeReviewer = group user/Erdem Demirkapı (erdemdemirkapi)
	submit = group user/Erdem Demirkapı (erdemdemirkapi)
[access "refs/heads/*"]
	read = group user/Erdem Demirkapı (erdemdemirkapi)
	create = group user/Erdem Demirkapı (erdemdemirkapi)
	push = +force group user/Erdem Demirkapı (erdemdemirkapi)
	pushMerge = group user/Erdem Demirkapı (erdemdemirkapi)
[access "refs/tags/*"]
	push = +force group user/Erdem Demirkapı (erdemdemirkapi)
	pushTag = group user/Erdem Demirkapı (erdemdemirkapi)
	pushSignedTag = group user/Erdem Demirkapı (erdemdemirkapi)
